# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- List some Open-source tools for Data Science
- List some arithmetic calculations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia
6. GO

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Mayplotlib
4. Seaborn
5. Scikit-learn
6. Keras

| Data Science Tools |
| -- |
| MySQL |
| Cassandra |
| Apache Airflow |

### Below a few examples of evaluating arithmetic in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gabriel Barreto Carvalho Telles